{{!
Template was sourced from the starter code for Node.js
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
}}
<section>
    <table id="inventory-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.item_id}}>
                <td>{{this.item_id}}</td>
                <td>{{this.store_id}}</td>
                <td>{{this.quantity}}</td>
                <td><button onclick="deleteInventory({{this.item_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../js/delete_inventory.js"></script>
</section>


<h2>Adding Inventory</h2>
<p>Add Inventory.</p>
<form id="add-inventory-form" method="POST" action="/add-inventory-form">

    <label for="add_store_ID">Store ID: </label>
    <input type="text" name="add_store_ID" id="add_store_ID">

    <label for="add_quantity">Quantity: </label>
    <input type="text" name="add_quantity" id="add_quantity">

    <input type="submit">
</form>

<h2>Search Inventory</h2>
<form id="search-inventory-form" method='GET' action='/inventories'>
     <select name="search_inventory_id" id="search_inventory_id">
        <option value="">Select ID</option>
        {{#each item_ids}}
        <option value="{{this.item_id}}">{{this.item_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
    <a href='../inventories'><button>Reset</button></a>
</form>

<section>
    <h2>Update Inventory Details</h2>
<form id="update-inventory-form">
    <label for="input-inventory-id">Inventory ID: </label>
    <select name="update_inventory_id" id="update_inventory_id">
        <option value="x">Select ID</option>
        {{#each item_ids}}
        <option value="{{this.item_id}}">{{this.item_id}}</option>
        {{/each}}
    </select>

    <label for="update_store_id">Store ID:</label>
    <input type="text" name="update_store_id" id="update_store_id"></select>

     <label for="update_quantity">Quantity:</label>
    <input type="text" name="update_quantity" id="update_quantity"></select>

    <input type="submit">
</form>
<script src="../js/update_inventory.js"></script>    
</section>
