{{!
Template was sourced from the starter code for Node.js
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
}}
<nav>
			<a href="/employees">Employees</a>
			<a href="/customers">Customers</a>
			<a href="/stores">Stores</a>
			<a href="/sales">Sales</a>
			<a href="/items">Items</a>
			<a href="/staffings">Staffings</a>
			<a href="/inventories">Inventories</a>
		  </nav>
<section>
    <table id="items-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.item_id}}>
                <td>{{this.item_id}}</td>
                <td>{{this.category}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.price}}</td>
                <td><button onclick="deleteItem({{this.item_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../js/delete_item.js"></script>
</section>


<h2>Adding Item</h2>
<p>Add an item.</p>
<form id="add-item-form" method="POST" action="/add-item-form">

     <label for="add_item_category">Category:</label>
    <input type="text" name="add_item_category" id="add_item_category"></select>

     <label for="add_item_brand">Brand:</label>
    <input type="text" name="add_item_brand" id="add_item_brand"></select>

     <label for="add_item_price">Price:</label>
    <input type="number" name="add_item_price" id="add_item_price"></select>

    <input type="submit">

</form>

<h2>Search Items</h2>
<form id="search-item-form" method='GET' action='/items'>
     <select name="search_item_id" id="search_item_id">
        <option value="">Select ID</option>
        {{#each item_ids}}
        <option value="{{this.item_id}}">{{this.item_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
    <a href='../items'><button>Reset</button></a>
</form>

<section>
    <h2>Update Item Details</h2>
<form id="update-item-form">
    <label for="input-item-id">Item ID: </label>
    <select name="update_item_id" id="update_item_id">
        <option value="x">Select ID</option>
        {{#each item_ids}}
        <option value="{{this.item_id}}">{{this.item_id}}</option>
        {{/each}}
    </select>

    <label for="update_item_category">Category:</label>
    <input type="text" name="update_item_category" id="update_item_category"></select>

     <label for="update_item_brand">Brand:</label>
    <input type="text" name="update_item_brand" id="update_item_brand"></select>

     <label for="update_item_price">Price:</label>
    <input type="number" name="update_item_price" id="update_item_price"></select>


    <input type="submit">
</form>
<script src="../js/update_item.js"></script>    
</section>
