{{!
Template was sourced from the starter code for Node.js
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
}}
<nav>
			<a href="/employees">Employees</a>
			<a href="/customers">Customers</a>
			<a href="/stores">Stores</a>
			<a href="/sales">Sales</a>
			<a href="/items">Items</a>
			<a href="/staffings">Staffings</a>
			<a href="/inventories">Inventories</a>
		  </nav>
<section>
    <table id="staffings-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.employee_id}}>
                <td>{{this.employee_id}}</td>
                <td>{{this.store_id}}</td>
                <td>{{this.hours_worked}}</td>
                <td><button onclick="deleteStaffing({{this.employee_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../js/delete_staffing.js"></script>
</section>


<h2>Adding Staff</h2>
<p>Add staff.</p>
<form id="add-staff-form" method="POST" action="/add-staff-form">


    <label for="add_staff_name">Employee Name: </label>
    <input type="text" name="add_staff_name" id="add_staff_name">

    <label for="add_store_id">Store ID: </label>
    <input type="text" name="add_store_id" id="add_store_id">

    <label for="add_hours">Hours Worked: </label>
    <input type="text" name="add_hours" id="add_hours">

    <input type="submit">
</form>

<h2>Search Staff</h2>
<form id="search-staff-form" method='GET' action='/staffings'>
     <select name="search_staff_id" id="search_staff_id">
        <option value="">Select ID</option>
        {{#each employee_ids}}
        <option value="{{this.employee_id}}">{{this.employee_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
    <a href='../staffings'><button>Reset</button></a>
</form>

<section>
    <h2>Update Staff Details</h2>
<form id="update-staff-form">
    <label for="input-staff-id">Staff ID: </label>
    <select name="update_staff_id" id="update_staff_id">
        <option value="x">Select ID</option>
        {{#each employee_ids}}
        <option value="{{this.employee_id}}">{{this.employee_id}}</option>
        {{/each}}
    </select>

    <label for="update_store_id">Store ID:</label>
    <input type="text" name="update_store_id" id="update_store_id"></select>

     <label for="update_hours">hours_worked:</label>
    <input type="text" name="update_hours" id="update_hours"></select>

    <input type="submit">
</form>
<script src="../js/update_staffing.js"></script>    
</section>
