{{!
Template was sourced from the starter code for Node.js
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
}}
<nav>
			<a href="/employees">Employees</a>
			<a href="/customers">Customers</a>
			<a href="/stores">Stores</a>
			<a href="/">Sales</a>
			<a href="/items">Items</a>
			<a href="/staffings">Staffings</a>
			<a href="/inventories">Inventories</a>
		  </nav>
<section>
    <table id="stores-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.store_id}}>
                <td>{{this.store_id}}</td>
                <td>{{this.city}}</td>
                <td>{{this.store_size}}</td>
                <td><button onclick="deleteStore({{this.store_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../js/delete_store.js"></script>
</section>


<h2>Adding Store</h2>
<p>Add a store.</p>
<form id="add-store-form" method="POST" action="/add-store-form">


    <label for="add_city">City: </label>
    <input type="text" name="add_city" id="add_city">

    <label for="add_size">Size: </label>
    <input type="number" name="add_size" id="add_size">
    <input type="submit">
</form>

<h2>Search Store</h2>
<form id="search-store-form" method='GET' action='/stores'>
     <select name="search_store_id" id="search_store_id">
        <option value="">Select ID</option>
        {{#each store_ids}}
        <option value="{{this.store_id}}">{{this.store_id}}</option>
        {{/each}}
    </select>
    <input type="submit">
    <a href='../stores'><button>Reset</button></a>
</form>

<section>
    <h2>Update Store Details</h2>
<form id="update-store-form">
    <label for="update_store_id">Store ID: </label>
    <select name="update_store_id" id="update_store_id">
        <option value="x">Select ID</option>
        {{#each store_ids}}
        <option value="{{this.store_id}}">{{this.store_id}}</option>
        {{/each}}
    </select>

     <label for="udpate_city">City: </label>
    <input type="text" name="update_city" id="update_city">

    <label for="update_size">Size: </label>
    <input type="number" name="update_size" id="update_size">
    <input type="submit">

</form>
<script src="../js/update_store.js"></script>    
</section>
